

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  font-size:xx-large;
  font-family: cursive;
}

.container{
  
  margin-top: 0.6rem;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  min-height: 44rem;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.ac {
  margin: 0;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  float: center;
}



.App{
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

#root{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}


